<div class="flex flex-col h-screen overflow-y-auto bg-base-100">
  <!-- Navbar -->
  <nav class="navbar sticky top-0 z-10 py-6 bg-base-100 border-b border-secondary/50">
    <div class="navbar-start">
      <div class="dropdown lg:hidden">
        <label tabindex="0" class="btn btn-ghost swap swap-rotate">
          <input type="checkbox"/>
          <fa-icon [icon]="['fas', 'bars']" class="swap-off"></fa-icon>
          <fa-icon [icon]="['fas', 'close']" class="swap-on"></fa-icon>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-10 p-2 shadow rounded-box w-52">
          @for (item of navItems; track $index) {
            <li>
              <a class="font-mono" (click)="scrollToSection(item.section)">
                <span class="text-primary">0{{ $index + 1 }}.</span>
                <span class="text-neutral-content/60 hover:text-neutral-content">
                  {{ item.label | translate }}
                </span>
              </a>
            </li>
          }
        </ul>
      </div>
      <a class="ps-4 text-xl cursor-pointer" (click)="scrollToSection('homeSection')">S</a>
    </div>

    <div class="navbar-end hidden lg:flex w-full justify-end items-center space-x-4">
      <ul class="menu menu-horizontal space-x-4">
        @for (item of navItems; track $index) {
          <li>
            <a class="font-mono" (click)="scrollToSection(item.section)">
              <span class="text-primary">0{{ $index + 1 }}.</span>
              <span class="text-neutral-content/60 hover:text-neutral-content">
                  {{ item.label | translate }}
                </span>
            </a>
          </li>
        }
      </ul>
      <label class="swap swap-rotate">
        <input type="checkbox" [checked]="currentTheme() === 'cupcake'" (change)="toggleTheme($event)"/>
        <fa-icon [icon]="['fas', 'sun']" class="swap-off"></fa-icon>
        <fa-icon [icon]="['fas', 'moon']" class="swap-on"></fa-icon>
      </label>
      <label class="swap swap-indeterminate">
        <input type="checkbox" [checked]="currentLang() === 'en'" (change)="toggleLanguage()"/>
        <div class="swap-off w-8 rounded-full overflow-hidden">
          <img [src]="flagUrl()" alt="Italiano" class="w-full h-full object-cover"/>
        </div>
        <div class="swap-on w-8 rounded-full overflow-hidden">
          <img [src]="flagUrl()" alt="English" class="w-full h-full object-cover"/>
        </div>
      </label>
    </div>
  </nav>


  <!-- Main content -->
  <div class="flex flex-grow">
    <!-- Left social -->
    <div class="fixed top-16 left-0 w-20 p-4 hidden md:flex flex-col justify-end h-[calc(100vh-4rem)]">
      <ul class="menu rounded-box">
        <li>
          <a
            class="tooltip tooltip-right text-neutral-content/60 hover:text-neutral-content hover:bg-base-100 cursor-pointer text-2xl"
            data-tip="Github"
            href="https://github.com/SamueleScevaroli" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'github']" class="social-icon"></fa-icon>
          </a>
        </li>
        <li>
          <a
            class="tooltip tooltip-right text-neutral-content/60 hover:text-neutral-content hover:bg-base-100 cursor-pointer text-2xl"
            data-tip="LinkedIn"
            href="https://www.linkedin.com/in/samuele-scevaroli-847a911b9" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'linkedin']" class="social-icon"></fa-icon>
          </a>
        </li>
      </ul>
    </div>


    <!-- Sections -->
    <div class="flex-grow h-[calc(100vh-4rem)]">
      <section #homeSection id="homeSection" class="h-screen scroll-mt-24">
        <app-home></app-home>
      </section>
      <section #aboutSection id="aboutSection" class="h-screen scroll-mt-24">
        <app-about></app-about>
      </section>
      <section #cvSection id="cvSection" class="h-screen scroll-mt-24">
        <app-cv></app-cv>
      </section>
      <section #projectsSection id="projectsSection" class="h-screen scroll-mt-24">
        <app-projects></app-projects>
      </section>
      <section #templatesSection id="templatesSection" class="h-screen scroll-mt-24">
        <app-templates></app-templates>
      </section>
      <section #skillsSection id="skillsSection" class="h-screen scroll-mt-24">
        <app-skills></app-skills>
      </section>
    </div>

    <!-- Right email -->
    <div class="fixed top-16 right-0 w-20 p-6 hidden md:flex flex-col justify-end h-[calc(100vh-4rem)]">
      <a class="tooltip tooltip-left link link-hover" data-tip="Click to send me Email!"
         href="mailto:samusceva@gmail.com">
        <span class="font-mono text-neutral-content/60 hover:text-neutral-content tracking-widest"
              style="writing-mode: vertical-rl; transform: rotate(360deg);">
          samusceva&#64;gmail.com
        </span>
      </a>
    </div>

  </div>
</div>
