<div class="hero h-screen px-20">
  <div class="hero-content text-left text-lg pb-30">
    <div>
      <p class="text-primary mb-3 font-mono">{{ 'hero.hello' | translate }}</p>
      <h1 class="text-7xl font-bold mb-4">{{ 'hero.name' | translate }}</h1>
      <h2 class="text-7xl font-bold mb-5 opacity-70">{{ 'hero.introduction' | translate }}</h2>
      <p class="mb-10 opacity-70 max-w-lg">{{ 'hero.description' | translate }}</p>
      <button class="btn btn-outline btn-primary font-mono p-7">{{ 'hero.button' | translate }}</button>
    </div>
  </div>
</div>
