<div class="hero min-h-screen px-6 sm:px-10 md:px-20">
  <div
    class="hero-content flex flex-col items-center sm:items-start text-left text-base sm:text-lg pb-20 sm:pb-32 w-full max-w-5xl mx-auto">
    <div>
      <p class="text-primary mb-3 font-mono opacity-0 animate-slide-up"
         [ngStyle]="{'animation-delay': '1s'}">
        {{ 'hero.hello' | translate }}
      </p>

      <h1 class="text-3xl sm:text-5xl md:text-7xl lg:text-7xl font-bold mb-4 opacity-0 animate-slide-up"
          [ngStyle]="{'animation-delay': '1.2s'}">
        {{ 'hero.name' | translate }}
      </h1>

      <h2 class="text-2xl sm:text-3xl lg:text-5xl font-bold mb-5 opacity-0 animate-slide-up-70"
          [ngStyle]="{'animation-delay': '1.4s'}">
        {{ 'hero.introduction' | translate }}
      </h2>

      <p class="mb-10 max-w-lg opacity-0 animate-slide-up-70 mx-auto sm:mx-0"
         [ngStyle]="{'animation-delay': '1.6s'}">
        {{ 'hero.description' | translate }}
      </p>

      <a href="assets/cv/cv_en.pdf" download
         class="btn btn-outline btn-primary font-mono py-4 px-10 opacity-0 animate-slide-up"
         [class.opacity-0]="!animationDone"
         [class.animate-slide-up]="!animationDone"
         [ngStyle]="{'animation-delay': '1.8s'}"
         (click)="stopAnimation()">
        {{ 'hero.button' | translate }}
      </a>
    </div>
  </div>
</div>
