<div class="hero min-h-screen pe-20 pb-20">
  <div class="hero-content text-left">
    <div class="max-w-md">
      <p class="text-primary mb-3 font-mono">{{ 'hero.hello' | translate }}</p>
      <h1 class="text-5xl font-bold mb-5">{{ 'hero.name' | translate }}</h1>
      <h2 class="text-4xl font-bold mb-5 opacity-70">{{ 'hero.introduction' | translate }}</h2>
      <p class="mb-4 opacity-70">{{ 'hero.description' | translate }}</p>
      <button class="btn btn-outline btn-primary font-mono">{{ 'hero.button' | translate }}</button>
    </div>
  </div>
</div>
