<div class="card bg-neutral shadow-md hover:shadow-xl">
  <div class="card-body p-4 xs:p-5 sm:p-6 md:p-7 lg:p-8">
    <div class="flex items-center space-x-4">
      <div class=" text-sm xs:text-base sm:text-xl md:text-2xl lg:text-3xl text-primary">
        <!--        <fa-icon [icon]="card().icon"></fa-icon>-->
        <img [src]="card().icon" alt="Icon" class="w-7 h-7 sm:w-8 sm:h-8 md:w-9 md:h-9 lg:w-10 lg:h-10"/>
      </div>
      <div>
        <h2
          class="text-xs xs:text-sm sm:text-base md:text-lg lg:text-xl card-title text-base-content">{{ card().name }}</h2>
        <div class="text-2xs sm:text-xs md:text-sm badge badge-outline font-mono badge-sm">{{ card().category }}</div>
      </div>
    </div>
    <p class=" text-2xs sm:text-xs md:text-sm text-neutral-content/70 mt-2">{{ card().description }}</p>

    <div class="mt-4">
      <label class="label justify-between text-2xs md:text-xs text-neutral-content/60">
              <span class="font-mono">{{ 'skills.section.experience' | translate }}
                : {{ card().experienceYears }} {{ 'skills.section.years' | translate }}</span>
      </label>
      <div class="flex space-x-1">
        @for (i of [1, 2, 3, 4]; track i) {
          <div
            class="h-2 flex-1 rounded"
            [ngClass]="{
                    'bg-green-500': card().experienceYears >= i && card().experienceYears >= 3,
                    'bg-yellow-500': card().experienceYears >= i && card().experienceYears >= 2 && card().experienceYears < 3,
                    'bg-red-500': card().experienceYears >= i && card().experienceYears < 2,
                    'bg-base-300': card().experienceYears < i
                  }">
          </div>
        }
      </div>
    </div>
  </div>
</div>
