<div class="flex flex-col items-center py-20">
  <div class="flex flex-grow font-bold text-left items-center w-2/3 pl-6">
    <span class="font-mono text-xl text-primary mr-5">03.</span>
    <span class="text-2xl whitespace-nowrap"> {{ 'projects.section.title' | translate }}</span>
    <div class="divider divider-secondary opacity-60 w-full px-5"></div>
  </div>
  <div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 grid-rows-2 w-2/3 h-full overflow-y-hidden p-6 gap-2 grid-flow-dense transition-all duration-500">
    @for (card of cards(); track $index) {
      <app-project-card [title]="card.title"
                        [description]="card.description"
                        [badges]="card.badges"
                        [isExpanded]="this.expandedCard() && this.expandedCard()?.title === card.title"
                        [ngClass]="{'col-span-1': !this.expandedCard(), 'col-span-full row-span-2 h-[50vh]': this.expandedCard()}"
                        (expandClick)="onExpandClick(card)">
      </app-project-card>
    }
  </div>

  @if (hasMore && !this.expandedCard()) {
    <button class="btn btn-outline btn-primary font-mono mt-6"
            (click)="showMore()">
      {{ 'projects.section.showMore' | translate }}
    </button>
  } @else if (!hasMore && cards().length > 6) {
    <button class="btn btn-outline btn-primary font-mono mt-6"
            (click)="showLess()">
      {{ 'projects.section.showLess' | translate }}
    </button>
  }

</div>
