<div class="card bg-neutral/70 h-full shadow-sm transition-all duration-500">
  <div class="card-body p-4 xs:p-5 sm:p-6 md:p-7 xl:p-8">
    <div class="flex justify-between text-2xs xs:text-xs sm:text-sm md:text-base lg:text-lg">
      <a
        class="cursor-pointer text-sm xs:text-base sm:text-lg md:text-xl lg:text-2xl text-neutral-content/80 hover:text-primary/70 transition-transform duration-300 hover:scale-125">
        <fa-icon [icon]="['far', 'folder']"></fa-icon>
      </a>
      <!--      <div class="flex gap-4">-->
      <a
        class="cursor-pointer transition-transform duration-300 hover:scale-125 text-neutral-content/80 hover:text-primary/70"
        href="https://github.com/SamueleScevaroli"
        target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
      <!--        <fa-icon [icon]="isExpanded() ? ['fas', 'compress'] : ['fas', 'expand']"-->
      <!--                 (click)="toggleExpand()"-->
      <!--                 class="social-icon cursor-pointer text-neutral-content/80 hover:text-primary/70 transition-transform duration-300 hover:scale-125"></fa-icon>-->
      <!--      </div>-->
    </div>

    <h2 class="text-xs xs:text-sm sm:text-base md:text-lg lg:text-xl font-bold">{{ title() }}</h2>
    <p
      class="mb-1 sm:mb-2 md:mb-3 text-2xs sm:text-xs md:text-sm lg:text-base text-neutral-content/80">{{ description() }}</p>

    <div class="card-actions">
      @for (badge of badges(); track badge) {
        <div class="badge badge-ghost text-2xs sm:text-xs md:text-sm lg:text-base font-mono">{{ badge }}</div>
      }
    </div>
  </div>
</div>
