@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, pastel, abyss, dim;
}


//@plugin "daisyui/theme" {
//  name: "abyss";
//  default: true;
//  --color-primary: green;
//  --color-secondary: teal;
//}

html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn70 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp70 {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 0.7;
    transform: translateY(0);
  }
}

/* utility classes */
.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.animate-slide-down {
  animation: slideDown 0.8s ease-out forwards;
}

.animate-slide-up {
  animation: slideUp 0.8s ease-out forwards;
}

.animate-slide-up-70 {
  animation: slideUp70 0.8s ease-out forwards;
}

/* font classes */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap'); //Mathematics
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap'); // Cryptography
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap'); // Web application
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap'); // Backend
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap'); // Frontend


.font-math {
  font-family: 'IBM Plex Mono', monospace;
}

.font-crypto {
  font-family: 'Share Tech Mono', monospace;
}

.font-webapp {
  font-family: 'Nunito', sans-serif;
}

.font-backend {
  font-family: 'Fira Mono', monospace;
}

.font-frontend {
  font-family: 'Quicksand', sans-serif;
}
