<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" class="btn btn-ghost swap swap-rotate lg:hidden">
        <input type="checkbox" />
        <fa-icon [icon]="['fas', 'bars']" class="swap-off"></fa-icon>
        <fa-icon [icon]="['fas', 'close']" class="swap-on"></fa-icon>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow rounded-box w-52">
        <li><a routerLink="/about"><span class="font-mono text-primary">01.</span>{{ 'ABOUT' | translate }}</a></li>
        <li><a routerLink="/projects"><span class="font-mono text-primary">02.</span>{{ 'PROJECTS' | translate }}</a></li>
        <li><a routerLink="/cv"><span class="font-mono text-primary">03.</span>{{ 'CV' | translate }}</a></li>
      </ul>
    </div>
    <a class="ps-4 text-xl" routerLink="/home">Portfolio</a>
  </div>

  <div class="navbar-end">
    <ul class="menu menu-horizontal pe-5 hidden lg:flex">
      <li class="pe-5"><a routerLink="/about"><span class="font-mono text-primary">01.</span>{{ 'ABOUT' | translate }}</a></li>
      <li class="pe-5"><a routerLink="/projects"><span class="font-mono text-primary">02.</span>{{ 'PROJECTS' | translate }}</a></li>
      <li class="pe-5"><a routerLink="/cv"><span class="font-mono text-primary">03.</span>{{ 'CV' | translate }}</a></li>
    </ul>
    <label class="swap swap-rotate pe-5">
      <input type="checkbox" class="theme-controller" [checked]="this.currentTheme() === 'cupcake'" (change)="toggleTheme($event)" />
      <fa-icon [icon]="['fas', 'sun']" class="swap-off"></fa-icon>
      <fa-icon [icon]="['fas', 'moon']" class="swap-on"></fa-icon>
    </label>
    <label class="swap swap-indeterminate pe-4">
      <input type="checkbox" [checked]="this.currentLang() === 'en'" (change)="toggleLanguage()" />
      <div class="swap-off w-8 rounded-full overflow-hidden">
        <img [src]="flagUrl()" alt="Italiano" class="w-full h-full object-cover" />
      </div>
      <div class="swap-on w-8 rounded-full overflow-hidden">
        <img [src]="flagUrl()" alt="English" class="w-full h-full object-cover" />
      </div>
    </label>
  </div>
</div>
